@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: rgba(249, 249, 249, 1.0);
    padding: 5% 0;
}

.coupon-img {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}

.panel {
    border: 2px solid rgba(0, 0, 0, 1.0);
}

.panel-heading {
    background: transparent !important;
    border-color: rgba(0, 0, 0, 1.0) !important;
    border-width: 2px;
}

.panel-title {
    font-weight: bold;
}

.dropdown-toggle {
    color: rgba(0, 0, 0, 1.0);
}

.panel-footer {
    display: none;
}